/* --------------------------------
Logo
-------------------------------- */
#logo {
  z-index: 99;
  height: 170px;
  width: 210px;
  position: fixed;
  top: 0;
  left: 50px;
}
/* --------------------------------
Header
-------------------------------- */
a {
  text-decoration: underline;
}
header {
  position: relative;

  h1 {
    position: relative;
    font-size: 1.4rem;
    color: $white;
    font-weight: bold;
    display: block;
    padding-left: 40%;
    padding-right: 10%;
    padding-top: 14px;
    line-height: 1.4;
  }

  h2 {
    position: relative;
    font-size: 2.2rem;
    max-width: 370px;
    color: $white;
    font-weight: bold;
    display: block;
    padding-left: 28px;
    padding-right: 10%;
    padding-top: 14px;
    line-height: 1.4;
    margin-top: 100px;
  }
  @include MQ(M) {
    h1 {
      font-size: 1.6rem;
      position: absolute;
      font-weight: bold;
      left: auto;
      width: 250px;
      margin: 160px 10% 0 10%;
      padding: 0;

    }
    h2 {
      color: $white;
      font-size: 2.6rem;
      position: absolute;
      font-weight: bold;
      left: auto;
      width: 200px;
      margin: 300px 10% 0 10%;
      padding: 0;
    }
  }

  @include MQ(L) {
    h1 {
      font-size: 1.6rem;
      position: absolute;
      font-weight: bold;
      left: 50%;
      width: 250px;
      margin-left:-500px;
      margin-top: 300px;
      padding: 0;

    }
    h2 {
      color: $white;
      font-size: 2.6rem;
      position: absolute;
      font-weight: bold;
      left: 50%;
      width: 200px;
      margin-left:-420px;
      margin-top: 600px;
      padding: 0;
    }
  }

  @media screen and (max-width : 480px)  {
    h1, h2 {
      position: relative;
      left: auto;
      margin: 10px;
      padding: 28px 14px;
    }
    h1 {
      margin-top: 200px;
    }
  }
}
/* --------------------------------
Band Navigation
-------------------------------- */
#bandinfo {
  position: absolute;
  bottom: 100px;
  font-size: 1.2rem;
  margin-left: 28px;
  padding-bottom: 28px;
  text-align: left;
  article {
    width: 200px;
  }
  a {
    line-height: 5em;
    &:hover,
    &:active {
      text-decoration: line-through;
    }
  }
}
@include MQ(M) {
  #bandinfo {
    font-size: 1.6rem;
    position: absolute;
    font-weight: bold;
    width: 230px;
    bottom: auto;
    right: 0;
    margin: 270px 00% 0 10%;
    a {
      line-height: 1;
      padding-bottom: 36px;
    }
  }

}
@media screen and (max-width : 480px)  {
  #bandinfo {
    position: relative;
    left: auto;
    margin: 10px;
    padding: 28px 14px;
    bottom: 0;
  }
}
@include MQ(L) {
  #bandinfo {
    font-size: 1.6rem;
    position: absolute;
    font-weight: bold;
    left: 50%;
    width: 250px;
    bottom: auto;
    margin-left: 220px;
    margin-top: 300px;
  }
}

/* --------------------------------
Footer
-------------------------------- */
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 100px;
  background: #000;
  z-index: 100;
  color: #fff;
  padding-top: 35px;
  @include clearfix();

  ul {
    float: right;
    @include clearfix();

    li {
      float: left;
    }
  }
  a {
    text-transform: uppercase;
    text-decoration: underline;
    color: #fff;
    padding: 0 30px;
    display: block;
    height: 100%;

    strong {
      font-weight: bold;
      display: block;
    }

    span {
      color: #ccc;
      white-space: nowrap;
    }
  }

  span#copyright {
    float: left;
    padding-top: 20px;
    color: grey;
    line-height: 1.4;
  }
}

@include MQ(M) {
  footer {
    font-size: 0.9em;
  }
}
@include MQ(L) {
  footer {
    font-size: 1.0em;
  }
}
@media (max-width: 767px) {
  footer {
    font-size: 0.9em;
    ul {
      float: none;
    }
    a {
      padding: 0 10px;
    }
    span#copyright {
      float: none;
      display: block;
      padding: 10px;
    }
  }
}
@media screen and (max-width : 480px)  {
  footer {
    position: relative;
    left: auto;
    width: 100%;
    height: auto;
    padding: 14px;
    bottom: 0;
    ul {
      float: none;
      li {
        display: list-item;
        float: none;
        margin: 20px 0;
      }
    }

    a {
      padding: 0;
    }
  }
}

.facebook-link {
  position: relative;
  padding-left: 35px;
}
.facebook-image {
  position: absolute;
  left: 0;
  height: 100%;
}