.burger {
	background: transparent;
	border: none;
	text-shadow: none;
	box-shadow: none;

	position: fixed;
	cursor: pointer;
	padding: 30px;
	top: 0;
	right: 0;

	img {
		height: 23px;
		width: 30px;
	}
}

#navigation{
	position: fixed;
	height: 100vh;
	right: 0;
	background: black;
	color: white;
	transform: translateX(100%);
	transition: transform 300ms;

	&.active {
		transform: translateX(0);
	}
}