// colors
$darkblue: #132432; // blue dark
$lightblue: #0099cc; // orange
$darkgrey: #31475A; // cream
$brightblue: #48B3D7; // white
$white: #fff;
$black: #000;

$color-1: $darkblue;
$color-2: $lightblue;
$color-3: $white;

// fonts 
$primary-font: 'courier new', serif;

// z-index 
$secondary-bar-zindex: 1;
$intro-zindex: 2;
$header-zindex: 3;