@import 'reset';
@import 'variables';
@import 'mixins';
@import 'grid';
@import 'modal';
@import 'layout';
@import 'bandcontent';
@import 'navigation';

/* --------------------------------
Primary style
-------------------------------- */
html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: $primary-font;
  color: $white;

  background: url(../images/background_landingpage_mobile.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;

  &.overflow-hidden {
    /* used when modal is visible */
    overflow: hidden;
  }
}
@include MQ(M) {
  body {
    background-image: url(../images/background_landingpage.jpg);
  }
}

a {
  color: $white;
  text-decoration: none;
}
p {
  margin: 2em 0;
  line-height: 1.6;
  color: $black;
  font-weight: 300,;
  @include font-smoothing;
}